language: cpp
compiler: g++

branches:
  only:
   - master

before_install:
- sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
- sudo apt-get update -qq

install:
- sudo apt-get install -qq g++-5
- export CXX="g++-5"

script:
  - make test
  - bin/gotoh_test

# addons:
#   apt:
#     sources:
#     # add PPAs with more up-to-date toolchains
#     - ubuntu-toolchain-r-test
#     - llvm-toolchain-precise-3.6
#     packages:
#     # install toolchains
#     - gcc-5
#     - g++-5

# matrix:
#   include:
#     - compiler: gcc
#       addons:
#         apt:
#           sources:
#             - ubuntu-toolchain-r-test
#           packages:
#             - g++-5
#       env: COMPILER=g++-5
